#main-div{
    width: 100%;
    min-height: 100%;

    background-color: var(--color-background);
    color: white;
}

#form-filter{
    width: 100%;
    max-width: 900px;

    padding: 20px 0;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#divPagination{

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
}

#divPagination button{

    background: none;
    color: white;

    font-size: 14px;
}

#divPagination button#paginationSelected{

    text-decoration: underline;
    color: var(--color-primary-text);
}

#divPagination button + button{

    margin-left: 20px;
}

#divSearchInput, #searchInput{
    width: 75%;
}

#searchInput{
    margin-left: 5px;
}